<!DOCTYPE html>
<html>
	<head>
		<title>Tic-Tac-Toe</title>
		<style>
			#info {
				float: left;
				width: 50%;
			}

			#game {
				float: right;
				width: 50%;
			}

			#game button {
				height: 100px;
				width: 100px;
			}

			#game tr {
				font-size: 50pt;
				text-align: center;
			}
		</style>
	</head>
	<body>
		{% if session.name %} 
		<h1>Hello, {{ session.name }} </h1>
		{% else %}
		<div id="info">
			<form action="/game" method="POST">
				<label for="name">Name</label>
				<input type="text" name="name">

				<label for="game">Game Name</label>
				<input type="text" name="game">

				<button type="submit">Join</button>
			</form>
		</div>
		{% endif %}

		{% if winner %}
			Winner: {{ winner }}
		{% endif %}
		{% if board %}
		<div id="game">
			<table>
			<form action="{{ url_for('get_game', game_name=game_name) }}", method="POST">
			{% for row in board %}
				{% set outer = loop.index %}
				<tr>
				{% for cell in row %}
					<td>
						{% if cell %}
							{{ cell }}	
						{% else %}
						<button type="submit" value="{{outer-1}},{{loop.index-1}}" name="position"></button>
						{% endif %}
					</td>
				{% endfor %}
				</tr>
			{% endfor %}	
			</form>
			</table>
		</div>
		{% endif %}
	</body>
</html>
